<div class="row mt-3">
    <div class=col>
        <h4>Take a couple of courses on <a href=https://uni-x.almv.kz/><strong>Uni-X</strong></a>!</h4>
    </div>
</div>
<div class="row mt-3">
    <div class=col>
        <p><strong><span>Uni-Net</span></strong></p>
    </div>
</div>
<div class=row>
    <div class=col>
        <ul>
            <li><a href=/writeups>Writeups</a></li>
            <li><a href=/members>Members</a></li>
        </ul>
    </div>
</div>